/* words list */

.words-list {
  height: 50vh;
  padding: 2rem 4rem;
  color: #404040;
  border: 1px solid #d4d4d4;
  background-color: #fff;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  margin-top: 2rem;
  text-align: center;
}

.def-words {
  font-weight: bold;
}
.indicator {
  width: 200px;
  height: 1px;
  margin: 10px auto;
  background-color: #ccc;
}
