<div class="main-layout">
  <div class="word-cloud-container">
    <div>
      <input type="text" [(ngModel)]="text" (keydown.enter)="showAddWord()" />
      <button class="add-button" (click)="showAddWord()">Add</button>
    </div>
    <app-word-cloud #wordcloud [words]="words" [text]="text"></app-word-cloud>

    <button class="add-button" (click)="showRandomWord()">Generate</button>
  </div>
  <div class="words-list">
    <div class="list-item" *ngFor="let word of words">{{ word.text }}</div>
  </div>
</div>
