.wordcloud {
  box-sizing: border-box;
  width: 700px;
  height: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .wordcloud {
    width: 100%;
  }
}

.word {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  line-height: 25px;
}
/*  
#random-word span:nth-of-type(3n + 1) {
  opacity: 0.7;
  transform: rotate(90deg);
} */
